.featured{
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #374785;
    color:white;
    padding-bottom: 300px;
    background-image: url(../../images/Featured.png);
    background-repeat: no-repeat;
}

.featured .container{
    width: 1400px;
    display: flex;
    align-items: center;
  
}
.left{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 200px;
}
.left p{
    width:18ch;
    font-size: 35px;
    margin-left: 520px;
    border-right: 3px solid;
    overflow: hidden;
    animation: type 2s steps(20) infinite;
    white-space: nowrap;
}
@keyframes type{
    from{
        width: 0;
    }
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    width:650px;
    height: 40px;
    margin-left: 400px;
}
.search .searchInput{
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchInput img{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.searchInput input{
    border: none;
    outline:none;
    font-size: 15px;
    padding: 0px;
}

.search button{
   width: 100px;
   height: 40px;
   border: none;
   background-color:rgb(80, 96, 213) ;
   color: white;
   cursor: pointer;
   padding: 5px;
    
} 
.popular{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 450px;
}
.popular button{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding:5px 10px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
.popular span{

}