.Mediator{
    display: flex;
    height: 375vh;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px;
    gap: 25px;
    padding: 20px;
    background-color: #374785;
    height: 400px;
    width: 100%;
    padding-bottom:80px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #a8d0e6;
    border: 1px solid black;
    border-radius: 10%;
    height: 15px;
    width: 100px;
    padding: 30px;
    color: black;
}
.category span{
    font-weight: bolder;
    font-size: 15px;
}
.header-lawyer{
    display: block;
    color: black;
    margin-left: 490px;
   margin-top: 20px;
}
.profiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: absolute;
    margin-top: 440px;
    height: auto;
    width: 100%;
    background-color: #f76c6c;
    margin-top: 500px;
}
.profiles span{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    margin-left: 500px;
    margin-bottom: 100px;
}
.profile{
    position: relative;
    background-color: #f8e9a1;
    height: 700px;
    width: 300px;
    margin-top: 200px ;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img{
    height: 150px;
    width: 300px;
    border-radius: 10%;
}
.cardq{
    height: 250px;
    width: 450px;
     border: 2px solid black;
    
     margin: 5px;
     border: 0.5px solid black;
     border-radius: 10px;
   
 }
 .df-mediators{
     height: 1000px;
   
     width: 95%;
     margin: auto;
     position: absolute;
     margin-top: 500px;
    
     display: grid;
    grid-template-columns: auto auto auto;
     column-gap: 5px;
     row-gap: 5px;
 }
 img{
     height: 170px;
     width: 450px;
     border-radius: 0;
 }
 .cardq:hover{
            transform: scale(1.02); 
 }
  .cardq h3{
     margin-left: 190px;
     margin-bottom: 0;
 }
 .cardq p{
     margin-top: 0;
     margin-bottom: 15px;
     margin-left: 150px;
 }