
.login {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logbar{
  margin: 50px;
  background-color:transparent;
  padding: 30px
}
     .loginform {
      padding: 40px;
      width: 300px;
      padding: 100px 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
      ha {
        color:white;
        margin-bottom: 20px;
      }
  
      label {
        color:white;
        font-size: 18px;
      }
  
      input,
      textarea {
        padding: 20px;
        border: 1px solid rgb(216, 214, 214);
      }
  
      .button-login {
        border: 2px solid rgb(2,0,36);
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color:transparent;
        cursor: pointer;
      }
  
      
    