.product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
    border-radius:0%;
  }
  .Slider{
    background-color: #f76c6c;
    padding-top: 10px;
    padding-bottom: 40px;
  }
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 280px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    margin: 30 px;
    margin-left: 150px;
    background-color:  #f8e9a1;
    display: inline-flex;
    flex-direction: column;
  }
.header{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin: 15px;
}
.header h2{
  color:black;
}

.card button{
    border: none;
    padding: 5px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    background-color: 1dbfbf;
    cursor: pointer;
  

}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px);
}