

.Sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f76c6c;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    height: 100vh;
    overflow: hidden;
    flex: 1;
  }
  
  .Sidebar h2 {
    margin: 0;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #a8d0e6;
  }
  
  .Sidebar ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .Sidebar li {
    margin-bottom: 10px;
  }
  
  .Sidebar button {
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 100%;
  }
  
  .Avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .ProfileInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .ProfileName {
    font-weight: bold;
  }
  
  .LastMessage {
    color: #000;
    font-size: 0.9rem;
  }
  